<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <span th:text="${msg2}"></span><br>
     <span th:text="${session.msg}"></span><br>
<span th:text="${#dates.format(session.date,'yyyy-MM-dd HH-mm-ss')}"></span>

<div th:if="${#lists.size(roleList)>0}">
    <table>
        <tr>
            <td>角色Code</td>
            <td>角色名称</td>
            <td>创建日期</td>
            <td>修改日期</td>
            <td>下标</td>
        </tr>
        <tr th:each="role:${roleList}" th:class="${roleStat.odd}">
            <td th:text="${role.roleCode}"></td>
            <td th:text="${role.roleName}"></td>
            <td th:text="${role.creationDate}"></td>
            <td th:text="${role.modifyDate}"></td>
            <td th:text="${roleStat.index+','+roleStat.count+','+roleStat.size}"></td>
        </tr>
    </table>
</div>
<div th:object="${session.role}">
    <p>RoleCode:<span th:text="${session.role.getRoleCode()}"></span> </p>
    <p>RoleName:<span th:text="*{roleName}"></span></p>
</div>

<div th:switch="${zhi}">
    <p th:case="1">变量值为1</p>
    <p th:case="2">变量值为2</p>
</div>
    <div th:insert="footer1::copy"></div>
    <div th:replace="footer1::copy"></div>
    <div th:include="footer1::copy"></div>
</body>
</html>